
# The environment to associate the reference architecture with.
environment = ""

# The environment type to associate the reference architecture with.
environment_type = "development"

# Location of the Google Artifact Registry repository,
gar_repository_location = ""

# GitHub org id
github_org_id = ""

# Humanitec CI Service User Token
humanitec_ci_service_user_token = ""

# Humanitec Organization ID
humanitec_org_id = ""

# A prefix that will be attached to all IDs created in Humanitec.
humanitec_prefix = "htc-ref-arch-"

# GCP Project ID to provision resources in.
project_id = ""

# GCP Region to provision resources in.
region = ""